<div class="row my-2 input-middle">
    <div class="col-3">
        <div class="input-group mb-3 mx-3">
            <span class="input-group-text">?</span>
            <input type="number" 
                   id='amount'
                   name="amount"
                   [(ngModel)]="amount"
                   class="form-control form-control-sm" 
                   placeholder="Amount" />
          </div>
    </div>
    <div class="col-3">
        <select class="form-select" [(ngModel)]="selectedBaseCurr" id="baseCurrency">
            <option *ngFor="let curr of basecurrs">
                {{curr.currencyId}}
            </option>
        </select>
    </div>
    <div class="col-1">
        <div class="button-location">
            <button type="button" class="btn btn-light btn-sm button-size" (click)="swapCurrencies()">
               <img src="assets/images/46246.png" style="width: 16px;height:16px">
            </button>
        </div>
    </div>
    <div class="col-3" style="margin-left: -60px">
        <select class="form-select" [(ngModel)]="selectedExchangeCurr" id="exchangeCurrency">
            <option *ngFor="let cur of exchangecurrs">
                {{cur.currencyId}}
            </option>
        </select>
    </div>
    <div class="col-1">
        <button class="btn btn-primary button-location" 
                data-bs-toggle="tooltip" 
                data-bs-placement="top" 
                data-bs-title="Tooltip on top"
                (click)="convert()">{{buttonCaption}}</button>
    </div>
</div>

<div class="row err-msg">
     <label *ngIf="displayErr" class="mx-5">{{errMsg}}</label>
</div>
